
@{
    ViewBag.Title = "Hotel";
}



<style>
    .divv1 {
@*        width: 100%;*@
        background-color: rgb(239,75,120,0.5);
    @*    position: absolute;   background-color: rgb(255, 255, 255);background:rgb(237, 97, 18);*@
        top: 0px;
        right: 0px;
        left: 0px;

    }

    body {
        background: rgb(238, 244, 253);
        color: rgb(20, 24, 35);
        font: 400 1.2rem / 1.33 "Helvetica Neue", Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
    }

    .div_card {
        background-color: rgb(255, 255, 255);
        border-radius: 1.2rem;
    }

    .headd h3 {
        font-weight: bold;
        font-size: 1.7rem;
        font-family: Quicksand;
        margin: 10px 17px;
    }

    .img_style {
        display: flex;
        border-radius: 1.2rem;
        object-fit: cover;
        width: 100%;
        height: 15rem;
    }
</style>
<body>
    <div class="container-fluid">
        <div class="divv1">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-xs-4  col-md-offset-3 col-xs-offset-3">
                        <div class="div_card">
                            <div class="card" style="">
                                <div class="headd"><h3>HOTEL INFO</h3></div>
                                <hr />
                                <div class="row">

                                    <div class="col-md-4">
                                        <div style="margin:0 12px;padding:16px;">
                                            <img src="https://cdn1.goibibo.com/voy_mmt/t_srp/htl-imgs/202201290837545789-86ec18ba80af11ec95250a58a9feac02.jpg" class="img_style" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Homestay</p>
                                        <h4 style="font-weight: bold;">The JOY Inn</h4>
                                        <p style="color: grey; font-size: 10px; ">The JOY Inn, Opp.sun view Hotel, Mussalaypalem,Sagar Nagar, visakhapatnam</p>
                                        <button class="btn "style="background: rgb(239,75,120,0.2);color: white; ">new</button>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <p class="card-text">
                                        <div style="display: flex; border-radius: 1.2rem; background: rgb(239,75,120,0.2);margin: 20px; padding: 20px; ">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <span style="color: gray; font-size: 14px;">Check In</span>
                                                    <p style=" font-size: 16px;font-weight:bold;">Tue, 13 Dec 2022</p>
                                                    <span style="color: gray; font-size: 14px;">10:00 AM</span>
                                                </div>
                                                <div class="col-md-4">
                                                    <span style="color: gray; font-size: 14px;">Check In</span>
                                                    <p style=" font-size: 16px;font-weight:bold;">Tue, 13 Dec 2022</p>
                                                    <span style="color: gray; font-size: 14px;">10:00 AM</span>
                                                </div>
                                                <div class="col-md-4">
                                                    <span style="color: gray; font-size: 14px;">Check In</span>
                                                    <p style=" font-size: 16px;font-weight:bold;">Tue, 13 Dec 2022</p>
                                                    <span style="color: gray; font-size: 14px;">10:00 AM</span>
                                                </div>


                                            </div>
                                        </div>
                                        <div style="display: flex; border-radius: 1.2rem; background: rgb(239,75,120,0.2); margin: 20px; padding: 20px;">
                                            <div class="row">
                                                <p style="font-size:18px;font-weight:bold;"> Room for 2 Adults</p>

                                                <p style="color:green;font-size:14px;">Great Choice! You are saving ₹357 with your booking</p>


                                            </div>
                                        </div>

                                        <div style="display: flex; border-radius: 1.2rem; background: rgb(239,75,120,0.2); margin: 20px; padding: 20px; ">
                                            <div class="row">
                                                <p>1 x Deluxe room</p>

                                                <p>2 Adults</p>
                                                <p>Rooms Only |</p>
                                                <p>Non Refundable</p>
                                                <p>View Booking & Cancellation Policy</p>


                                            </div>
                                        </div>

                                        .
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4  col-md-offset-3 col-xs-offset-2">
                        <div class="card" style="">

                            <div class="card-body">
                                <h5 class="card-title">Price Summary</h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>Stay Charges (1 Room x 1 night)</p>
                                        <p>Total Discounts</p>
                                        <p>GOHOMESTAYS applied</p>
                                        <p>applied</p>
                                        <p>Price after discounts</p>


                                    </div>
                                    <div class="col-md-6">
                                        <p>₹1999</p>
                                        <p> ₹19</p>
                                        <p> ₹1955</p>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-xs-4  col-md-offset-3 col-xs-offset-3">
                        <div class="card" style="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    <form action="/action_page.php">
                                        <div class="mb-3 mt-3">
                                            <label for="email" class="form-label">Email:</label>
                                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                                        </div>
                                        <div class="mb-3">
                                            <label for="pwd" class="form-label">Password:</label>
                                            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                                        </div>
                                        <div class="form-check mb-3">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" name="remember"> Remember me
                                            </label>
                                        </div>
                                        <button type="submit" class="btn">Submit</button>
                                    </form>


                            </div>

                            .</p>
                            <a href="#" class="btn"style="background: rgb(239,75,120,0.2);"></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-xs-4  col-md-offset-3 col-xs-offset-3">
                        <div class="card" style="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Secure your stay
                                    Insurance will be sent to the registered Email ID, within 48 hours of booking.


                            </div>

                            .</p>
                            <a href="#" class="btn" style="background: rgb(239,75,120,0.2);"></a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-xs-4  col-md-offset-3 col-xs-offset-3">
                        <div class="card" style="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    <ul>
                                        <p style="font-weight:bold;">Worry-Free Hotel Stay!</p>
                                        <li>Upto ₹ 10K for hotel booking cancellation charges if cancelled due to illness</li>
                                        <li>Upto ₹ 20K for bounced booking</li>
                                        <li>Upto ₹ 20K for loss of laptops and tablets</li>
                                        <li>Upto ₹ 20K for loss of baggage</li>
                                        <li>Upto ₹ 10K for cost of return travel in case of trip interruption</li>
                                        <li>Upto ₹ 10K for hotel extension in case of hospitalization</li>

                                    </ul>
                                    Insurance will be sent to the registered Email ID, within 48 hours of booking.


                            </div>

                            .</p>
                            <a href="#" class="btn" style="background: rgb(239,75,120,0.2);"></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-xs-4  col-md-offset-3 col-xs-offset-3">
                        <div class="alert" role="alert" style="background-color: rgb(239,75,120); color: white; text-align: center; font-weight: bold;cursor:pointer">
                            A simple primary alert—check it out!
                        </div>
                    </div>
                </div>





            </div>
        </div>

    </div>
    <div class="divv2">

    </div>
    </div>
</body>